@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 80%;
    background-image: url('../images/blk-knight.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-align: center;
    color: white;
}

h1,
h2,
button {
    font-family: "Pirata One", sans-serif;
    letter-spacing: 2px;
    font-size: 300%;
}

p {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 40%;
}

#phone {
    background-color: black;
    margin: 0 auto;
    position: relative;
    flex-shrink: 0;
    width: 95vw;
    max-width: 500px;
    height: 100vh;
    max-height: 600px;
    border-radius: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

#logo {
    font-size: 280%;
}

#all-knights {
    height: 150px;
    display: flex;
}

.knight {
    width: 20%;
    margin-top: 30px;
}